@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Montserrat', sans-serif;
}
ul, ul.nav {
	list-style: none;
	font-weight: bolder;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #2e2b41;
  font-size: 20px;
	padding: 35px 100px 0;
}
header ul.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
header ul.nav li {
	margin: 0 15px;
}
.button{
	align-items: center;
	justify-content: center;
	background-color: #3b384e;
	font-size: 17px;
	border: none;
	width: 130px;
	height: 35px;
	border-radius: 60px;
	transition: background-color 0.2s ease, color 0.2s ease;
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
header ul.nav li:first-child {
	margin-left: 0;
}
header ul.nav li:last-child {
	margin-right: 0;
}
@media(max-width:1000px) {
	header {
		padding: 20px 50px;
	}
}
@media (max-width:700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
	header ul.nav li {
		margin: 0 7px;
	}
	.about-right p {
		display: none;
	}
}
/*section area*/

section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
	color: #000000;
}
@media (max-width:1000px) {
	section {
		padding: 100px 50px;
	}
}
@media (max-width:600px) {
	section {
		padding: 125px 30px;
	}
}
.section p {
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

/*container area*/

.content {
	display: flex;
	flex-direction: column;
	width: 60%;
	justify-content: center;
	height: 70vh;
}

.content-img {
	background-image: url(img/bground.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: -1;
	background-position: center center;
}
  
.content h2 {
	font-size: 57px;
	color: #3b384e;
	font-family: "ubuntu",sans-serif;
	margin-right: 20px;
}

.content h3 {
	font-size: 60px;
	color: #3b384e;
	font-family: "ubuntu",sans-serif;
	margin-right: 20px;
}
  
.content p {
	color: #3b384e;
	font-size: 20px;
	line-height: 2;
	text-align: left;
}
  
.content button {
	align-items: center;
	justify-content: center;
	background-color: #3b384e;
	font-size: 17px;
	border: none;
	width: 180px;
	height: 40px;
	border-radius: 60px;
	transition: background-color 0.2s ease, color 0.2s ease;
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
  
.content button:hover,i:hover {
	background: #691b5f;
}

/*about area*/

.about-area{
  background: rgb(238, 237, 243);
}
ul.about-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	background: rgb(185, 181, 201);
}
.about-content li {
	padding: 20px;
	height: 500px;
	background-clip: content-box;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
 
}
.about-left {
  	flex-basis: 38%;
	background-image: url(img/abouticon.png);
}
.about-right {
	flex-basis: 50%;
}
.about-right h2 {
	font-size: 30px;
  	color: #3b384e;
}
.about-area p {
	max-width: 800px;
	margin-bottom: 35px;
	line-height: 1.5;
	text-align: left;
	padding-left: 0;
  	font-size: 18px;
}
.section-title {
	text-transform: uppercase;
	font-size: 65px;
	font-weight: bolder;
	margin-bottom: 5%;
}
.section-title span {
	color: #963872;
}
.about-right h2 {
	margin-bottom: 3%;	
}
.about-btn {
	padding: 15px 35px;
	background: #2e2b41;
	border-radius: 50px;
	text-transform: uppercase;
	color: #fff;
}
@media (max-width: 1000px) {
	.section-title {
		font-size: 35px;
	}
	.about-left, .about-right {
		flex-basis: 100%;
	}
	.about-content li {
		padding: 8px;
	}
}

/*criteria area*/

.criteria-area{
  background: rgb(226, 222, 241);
}
ul.criteria-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.criteria-content li {
	padding: 0 40px;
	flex-basis: 33%;
	text-align: center;
}
.criteria-content li h4 {
	font-size: 25px;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-weight: bold;
	color: #3b384e;
	letter-spacing: 3px;
}
.criteria-content li p {
	font-size: 18px;
	margin: 0;
}
@media (max-width:1000px) {
	.criteria-content li {
		flex-basis: 100%;
		margin-bottom: 65px;
	}
	.criteria-content li:last-child {
		margin-bottom: 0;
	}
	.criteria-content li p {
		padding: 0;
	}
}
/*contact area*/

.contact-area{
  background: rgb(238, 237, 243);
}
ul.contact-content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.contact-content a {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}
.contact-content img {
	width: 55px;
	height: 55px;
	font-size: 20px;
	margin-bottom: 25px;
}

@media (max-width: 1000px) {
	.contact-content li {
		flex-basis: 100%;
		margin-bottom: 65px;
	}
	.contact-content li:last-child {
		margin-bottom: 0;
	}
	.contact-content li p {
		padding: 0;
	}
}
/*footer*/

footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
  font-size: 18px;
	background-color: #444150;
	padding: 25px 0;
}